/* PSPDFKit Overrides */
.PSPDFKit-Form-Creator-Toolbar,
.PSPDFKit-Form-Creator-Popover {
  display: none !important;
}

.PSPDFKit-Annotation-Widget-Signature > figure,
.PSPDFKit-Annotation-Widget-Signature-Badge {
  display: none;
}

/* Custom Renderers */
.custom-annotation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

.custom-signature-wrapper {
  border: 0.03125rem solid #dbdee4;
}

.custom-annotation-name {
  background-color: #fff;
  color: #3d434e;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-inline: 0.1875rem;
}

.signed .custom-annotation-wrapper {
  visibility: hidden;
  display: none !important;
}

.custom-signature {
  align-items: center;
  padding: 0.5625rem 0 0.3125rem;
}

.custom-signature-label {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 800;
  opacity: 0.8;
  margin-top: 0px;
}

/* After Sign box CSS */

.signature-box-demo {
  position: relative;
  display: inline-block;
  background-color: transparent;
  /* border: 1px solid rgb(180, 184, 228); */
  border-radius: 0.625rem;
}

.signature-label-demo {
  position: absolute;
  top: -1.6rem;
  left: 0rem;
  font-size: 0.5rem;
  background-color: transparent;
  padding: 0;
  color: #555
}

.signature-id-demo {
  position: absolute;
  bottom: -1.6rem;
  left: 1.8rem;
  font-size: 0.5rem;
  background-color: transparent;
  padding: 0 0.3125rem;
  color: #555;
}

.signature-box-demo::before {
  content: "";
  position: absolute;
  top: -0.9375rem;
  left: -0.9375rem;
  width: 0.875rem;
  height: calc(var(--box-height)/2);
  border: 0.0625rem solid grey;
  border-radius: 1.25rem 0 0 0;
  border-bottom: none;
  border-right: none;
}

.signature-box-demo::after {
  content: "";
  position: absolute;
  bottom: -0.9375rem;
  left: -0.9375rem;
  width: 3rem;
  height: calc(var(--box-height)/2);
  border: 0.0625rem solid grey;
  border-radius: 0 0 0 1.25rem; 
  border-top: none;
  border-right: none;
}